@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  margin: 0;
  padding: 0;
  background-image: url(images/elementbg.png);
  background-size: cover;
  min-height: 100vh;
}

.main {
  font-family: Poppins;
  position: absolute;
  top: 26%;
  left: 8%;
}

h1 {
  color: white;
  font-size: 75px;
  margin-bottom: -5%;
}

h3 {
  color: white;
  font-size: 36px;
  margin-bottom: -7%;
}

h6 {
  color: white;
  font-size: 17px;
}

.applayout .ss {
  position: absolute;
  left: 35%;
  max-height: 50px;
  padding: 50px;
  transform: scale(0.72);
  top: 15%;
}
